body{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}    

#man2{
    margin-top: 50px; 
    background-color: #F6F6F6;
;
}

#man3{
    background: url('images/cover.jpeg');
    background-position: center;
    background-position: left;
}

#tec{
    background: url('images/calss.jpg');
    background-position: center;
    margin-top: 50px;
    color: whitesmoke;
}

.adam{
    color:#214c75;
}

#gal{
    margin: auto;
}

#iit{
    background: url('images/iit.jpg');
    background-position: center;
    background-size:1500px;
    background-repeat: no-repeat;
    color:#214c75 ;
}

#neet{
    background: url('images/neet.jpg');
    background-position: center;
    background-size:1500px;
    background-repeat: no-repeat;
    color :#e21717 ;
}

#sub{
    background: url('images/sub.jpg');
    background-position: center;
    background-size:1200px;
    background-repeat: no-repeat;
    color :whitesmoke ;
}

.temp{
    color: #1F1C2C;
}