/* svg */
  
/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text11 {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text11:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text11:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text11:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text11:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */


#attack{
  background: #111;
  background-position: center;
  font: 5.0em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


body{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}    

#man2{
    margin-top: 50px; 
    background-color: #F6F6F6;
;
}

#man3{
    background: url('images/cover.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(166, 255, 213);
}

#tec{
    background: url('images/calss.jpg');
    background-position: center;
    margin-top: 50px;
    color: whitesmoke;
}

.adam{
    color:#89c1f5;
}

#iit{
    background: url('images/iit.jpg');
    background-position: center;
    background-size:1500px;
    background-repeat: no-repeat;
    color:#214c75 ;
}

#neet{
    background: url('images/neet.jpg');
    background-position: center;
    background-size:1500px;
    background-repeat: no-repeat;
    color :#e21717 ;
}

#sub{
    background: url('images/sub.jpg');
    background-position: center;
    background-size:1200px;
    background-repeat: no-repeat;
    color :whitesmoke ;
}

.temp{
    color: #1F1C2C;
}


#man9{
    margin-top: 100px;
}