<div class="jumbotron jumbotron-fluid alert alert-primary">
    <div class="container">
      <h1 class="display-4 ">About</h1>
      <p class="lead">This site is created by Abhijeet singh :)</p>
        <p class="text-justify">
          <b>MOST THINGS ARE DIFFICULT, BEFORE THEY ARE EASY"</b>
          EDU-DREAM Coaching Classes has completed 4 years in feb 2020.
          D. Pandit the founder, Mentor(Honorary) of the classes aware of the humble beginning of EDU-DREAM Coaching Classes in the year 2016 with just 10 students, is glad to have been able to expand the classes, to teach hundreds of students today, with expert teachers staff assisting him.
          Apart from preparing students thoroughly for an outstanding performance at the exam, the classes also arranges guest lectures and seminars for the personality development of students. Lectures on Time Management, Stress Management, Study Skills, Career Guidance and achieving success have been found very useful by our students over the years.
          The teachers of EDU-DREAM Coaching Classes have periodical brain-storming sessions among themselves to plan their teaching method, monitor their own performances, gain feedback from fellow members of the faculty and constantly think of providing more effective inputs to students to help them perform to their greatest potential.
          Success is planned it is said. In addition to result oriented teaching, the classes conduct Test-series in a systematic manner before Board/University exams to equip the students with the right techniques they must follow to ensure an excellent performance in writing their answers at the Board/University exams.
          EDU-DREAM Coaching Classes strongly believes that the best is yet to come, and is always ready to reach higher levels of excellence in the years to come.
        </p> 
    </div>
  </div>