<div class="container">
    <div class="card text-center text-primary">
        <div class="card-header">
            Advantages
        </div>
        <div class="card-body">
          <h5 class="card-title">Highly Qualified Dedicated Teaching Members</h5>
          <p class="card-text"> We have top Qualified Techno-Experienced Teaching members who are full time dedicated in teaching students entirely by easy going technique. They are known among the students for making their core-base Concepts cleared.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
</div>


<div class="container" id="advan">
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="images/pblm.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comprehensive Problem Solving</h5>
          <p class="card-text">We Tackle Comprehensive Problems of all topics of subjects covering academic Classes, JEE/NEET & other State level Competitive Entrance Exams. </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="/images/mbt.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Merit Based Teaching</h5>
          <p class="card-text">We train our Students According to their Natural Merit. Our Teachers are able to change their Teaching technique to suits the requirements of the Students. Weak to catch Students are trained differently to meet the requirements of JEE/NEET Exams easily.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="images/alu.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Integration & Network of Successful Alumni</h5>
          <p class="card-text"> Our successful alumni’s Integration with us act as a poor-booster Catalyst for our enrolled aspirants especially for JEE/NEET.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="images/test.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Test & Assessments</h5>
          <p class="card-text">Our topic wise rigorous test feedback mechanism help the students to know their level of merit, growth & Understandings.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

