<div class="container">
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>  8461-929-123</a>
          </l>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Mr.Deepak Kumar Sen</h5>
      <p class="card-text">Sub:- Mathematics & Physics,Qualification:- M.SC. (Mathematics) </p>
      <p class="card-text">If you have any query you can contact us , just write your query in the description with other details , click on the query</p>
      <a href="/authors/new" class="btn btn-primary">Query</a>
    </div>
  </div>


  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>  9407-832-640</a>
          </l>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Mr.Dhananjoy Pandit</h5>
      <p class="card-text">Sub:- Mathematics & Physics,Qualification:- B.Tech (Mech.) </p>
      <p class="card-text">If you have any query you can contact us , just write your query in the description with other details , click on the query</p>
      <a href="/authors/new" class="btn btn-primary">Query</a>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </l>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Miss.Anuradha Kushwaha</h5>
      <p class="card-text">Sub:- Chemistry & Biology , Qualification:- M.SC. (Chemistry)</p>
      <p class="card-text">If you have any query you can contact us , just write your query in the description with other details , click on the query</p>
      <a href="/authors/new" class="btn btn-primary">Query</a>
    </div>
  </div>
</div>