<label>Name</label>
<input type='text' name='name' value="<%= author.name%>"> 

<label>Contact number</label>
<input type='text' name='contact' value="<%= author.contact%>"> 

<label>Email</label>
<input type='text' name="email" value="<%= author.email%>"> 

<label>Discription</label>
<input type='text' name='dis' value="<%= author.dis%>"> 