<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact us :)</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<form class="container" action="/authors" method="POST">
  <%- include('_form_fields') %>
  <a  href="/">Cancel</a>
  <button class="btn btn-primary" type="submit" href="/">Create</button>
</form>