<h2 class="container"><span class="badge badge-info">Contact us :)</span></h2>
<form class="container" action="/authors" method="POST">
  <%- include('_form_fields') %>
  <a  href="/authors">Cancel</a>
  <button class="btn btn-primary" type="submit">Create</button>
</form>